body {
  margin: 0;
  background-color: #353535;
  color: azure;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  overflow-y: scroll;
}

a{
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar{
  background-color: transparent;
  width: .4rem;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(97, 94, 94);
  border-radius: 5px;
}